<% require 'text' %>

<% @users = User.all %>
<table>
  <thead>
    <tr>
      <th> Name </th>
      <th> Street Address</th>
      <th> Email </th>
      <th> Company</th>
      <th> City</th>
      <th> State</th>
      <th> Zip</th>
      <th> Phone</th>

    </tr>
  </thead>
  <tbody>
    <% @duplicates.each do |user| %>
      <tr>
        <td><%= user.first_name + " " + user.last_name%></td>
        <td> | <%= user.address1.to_s + ", " + user.address2.to_s %> </td>
        <td> | <%= user.email.to_s%> </td>
        <td> | <%= user.company.to_s%> </td>
        <td> | <%= user.city.to_s%> </td>
        <td> | <%= user.state.to_s%> </td>
        <td> | <%= user.zip.to_s%> </td>
        <td> | <%= user.phone.to_s%> </td>
      </tr>
    <% end %>
  </tbody>
</table>
